


#content-help {
    padding: 6px;
    overflow: auto;
    height: 100%;
    width: 100%;
    font-size: 16px;
}


code {
    display: block;
    background: #226;
    border: 1px solid #004;
    color: white;
    border-radius: 4px;
    padding: 8px;
    margin-left: 0px;
    font-size: 15px;
}

