


span.cm-knot {color: rgb(19, 83, 165);}

span.cm-stitch {color: rgb(0, 102, 102);}

span.cm-arrow {color: rgb(175, 81, 18);}



span.cm-choice1 {color: rgb(175, 18, 128);}

span.cm-choice2 {color: rgb(10, 107, 51);}

span.cm-choice3 {color: rgb(175, 18, 18);}

span.cm-choice4 {color: rgb(87, 61, 28);}

span.cm-choice5 {color: rgb(175, 18, 128);}

span.cm-choice6 {color: rgb(10, 107, 51);}

